.nav-lists li{
    color:red
}
.container a:first-child{
    color: red;
}
.container a:last-child{
    color: green;
}
tr:nth-child(odd){
    background-color: green;
}
tr:nth-child(even){
    background-color: blue;
}
tr:nth-child(3){
    background-color: red;
}
tr:nth-child(3n+1){
    background-color: pink;
}
td:nth-child(even){
    color: aqua;
}
:enabled{
    border:2px solid green;
    color: red;
}
:disabled{
    border:2px solid green;
}
:checked + span {
    color: red;
    font-weight: bold;
}
p::first-letter{
    color: red;
    font-size: 20px;
}
p::first-line{
    color: green;
}
.warning::before{
    content:"warning";
    font-weight: bold;
    color: red;
}
.warning::after{
    content:"be careful";
    font-weight: bold;
    color: blue;
}
::selection{
    color: white;
    background-color: red;
}
input[type="text"]{
    border: 2px solid red;
}
.static{
    position: static;
    border: 3px solid green;
}
.relative{
    position: relative;
    border: 5px solid blue;
    left: 50px;
    top: 50px;
    z-index: -1;
    background-color: green;
    color: white;
}
.fixed{
    position: fixed;
    background-color: yellow;
    width: 50px;
    bottom: 0px;
}
.absolute{
    position: absolute;
    background-color: aqua;
    top: 50px;

}
img{
    width: 100%;
}
.wrapper{
    position: relative;
}
.image{
    position: relative;
    
}

.text-wrapper{
    position: absolute;
    color: white;
    z-index: 9;
    top: 0;
}
.sticky{
    background-color: aquamarine;
    position: sticky;
    top: 50vh;
}