*{
    margin: 0;
}
.img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.row{
    display: flex;
    justify-content: center;
    gap: 8%;
}
.list-style{
    list-style: none;
}
.nav-item{
    font-size: 20px;
    font-style: italic;
    color: white;
}
.header{
    background-color: black;
    padding: 20px;
}
.col-6{
    width: 45%;
}
.space-between{
    justify-content: space-between;
}
.banner-header{
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    color: green;
    text-align: center;
}
p{
    color: red;
}